body {
    position: relative;
}

.sent {
    background-color: #85e14b;
    color: black;
    border-top-right-radius: 500px;
    flex-direction: row-reverse;
    padding: 20px 20px 0 10px;
    text-align: end;
    float: right;
}

.received {
    background-color: #fafafa;
    border-top-left-radius: 500px;
    float: left;
}


@media (max-width: 775px) {
    .sent {
        padding: 10px 10px 0 10px;
    }

    .received {
        padding: 10px 10px 0 10px;
    }

}

@media (max-width: 500px) {
    .sent {
        padding: 7px 7px 0 7px;
    }

    .received {
        padding: 7px 7px 0 7px;
    }

}

.login-button {
   

}